/*------------------------------------*\
	Simple HTML5 data-tabs
\*------------------------------------*/

#tabHeader {
    margin-left: 10px;
}

.tab {
    float:left;
    display:block;
    padding:10px 20px;
    text-decoration:none;
    border-radius:2px 2px 0 0;
    background:#888B8D;
    color:#777;
    font-weight:bold;
}
.tab.active,
.tab:hover {
	background:#dd0031;
	color:#FFF;
}
.content {
    display:none;
    clear:both;
    background:#000;
    padding:20px;
    border-radius:2px 2px 2px 2px;
}
.content.active {   
    display:block;
    background:#53565A;
}
