html
{
	background-color: #53565A;
	color: #ffffff;
}
body 
{ 
    
	font-size: 1em;
	font-family: Verdana, Geneva, sans-serif;
}

h1 {
    font-size: 1.2em;
    color: white;
    font-weight: bold;
}

textarea {
    width: 99%;
    max-width: 99%;
}

button{
    background-color: #53565A;
    border: none;
    color: white;
    font-weight:bold;
}
.button {
    display: inline-block;
    color: #ffffff;
    text-align: center;
    padding-left: 4vh;
	padding-right: 4vh;
    border: 3px solid #dd0031;
    overflow: hidden;
    cursor: pointer;
    background: #888b8d;
    box-sizing: border-box;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    font: #000000;
    background: none;
    border: 3px solid #00A6FF
}

.tabs{
    max-width:1900px;
}


input[type=range][orient=vertical]
{
-webkit-appearance: slider-vertical;
}

.avoHeader{
	vertical-align:middle;
	background: #dd0031;
	height: 45px;
	padding:8px;
	margin-bottom: 5px;
	font-family: Verdana, Geneva, sans-serif;
	font-size:30pt;
	color: white;
}
.avoHeaderText{
	vertical-align:middle;
	font-family: Verdana, Geneva, sans-serif;
	font-size:30pt;
	color: white;
	float: right;
}

